#main {
  text-align: left;
  justify-items: auto;
}

#name {
    font-weight: 800;
}

.jobs {
  padding: 3.75rem 11.75rem 7.5625rem 11.75rem;
}

.jobs h3 {
  margin-bottom: 1rem;
  font-size: inherit;
}

.job a{
  color: #c4565f;
}

.job a:hover {
  color: #d37676;
  text-decoration: underline;
}

#main form {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  align-items: flex-end;
  height: fit-content;
  padding: 1.14rem;
  margin: 1rem;
}

#main form .button {
  height: fit-content;
  padding: 1.14rem;
  margin-left: 1rem;
}

.job-list {
  border-top: solid 1px hsla(0, 0%, 59%, 1);
  display: grid;
  grid-template-areas: "job job job job";
  grid-template-columns: repeat(4 1fr);
}

.job {
  border-bottom: solid 1px hsla(0, 0%, 59%, 1);
  padding: 1rem;
  margin: 1rem;
}

.job h4 {
  padding-bottom: .5rem;
  font-size: 20px;
  line-height: 1.2;
}

#see-all-jobs {
  justify-self: center;
  margin-top: 3.6875rem;
}
